<html ng-app="main">
	<div ng-controller="auth">
		<p>กรุณากรอกอรเมล์ของคุณ เพื่อใช้ในการเปลี่ยนรหัสผ่าน</p>
		<p>Email - <input type="email" ng-model="email" name="email" maxlength="40"></p>
		<button ng-click="submit_forgot(email)">Submit</button>
		<span ng-bind="res_msg"></span>
		  
	</form>
		{{message}}
	</div>

</html>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/js/angular.main.js"></script>
<script src="/js/service_user.js"></script>
<script src="/js/c_auth.js"></script>
