<html ng-app="main">
	<div ng-controller="reset_password">
		<div ng-init="uid = '<%= uid%>' "></div>
		<div ng-init="key = '<%= key%>' "></div>  
		<hr>
		<h1>Reset Password</h1>
	    <div>
	        <label>Password:</label>
	        <input type="password" ng-model="password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
	    </div>
	    <div>
	        <label>Confirm Password:</label>
	        <input type="password" ng-model="c_password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
	    </div>
	    <div>
	        <button ng-click="submit_reset(password, c_password, uid)">Submit</button>
	    </div>
		<span ng-bind="res_msg"></span>

		<br><br><a href="/auth/register">Register</a><br><br><a href="/auth/forgotPassword">Forgot password</a>
	</div>

</html>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/js/angular.main.js"></script>
<script src="/js/service_user.js"></script>
<script src="/js/c_auth.js"></script>
